*{
  margin-top:0;
  margin-left: 0;
  padding : 0;
  border-radius: 15px;
  box-sizing: border-box;
}
/*
* will apply to all elements. Here we are getting rid of the margins which,
when kept, will cause colored bars to appear.
*/
.notapersonalphoto{
  box-shadow: 5px 5px 5px;
  width: 720px; 
  height: 456px;
  /*padding-bottom: 30px; this padding doesn't seem to work right. Find a new way to add space between the pikachu and the text.*/

  /*If a image/object needs more than one style, when possible, always try and
  make a section for it in the css sheet.*/
  z-index: 1;/*This will put Pikachu in front of body...I think*/
}

.clearContents{
  position: relative;
}

.clearContents:before{ 
  content: ' ';
  position: absolute;
  width: 101%;
  height: 200vh;
  /*vh is a unit of measurement. There are many of these so keep in mind what 
  you can use in different situations. Like px.*/
  background-position: 0px 0px;
  /*the above four lines(plus the before modifier) are used apply opacity.
  If the background image and opacity was on just the body, all child
  elements would have opacity. By using a different element, but still
  using the background image command and size modifiers, only the background
  will be affected by these.*/
  opacity: 0.35;
  background-image: url('sky.jpg');
  z-index: -1; /*This puts all things behind the z axis.*/
}

.contentsPosition{
  position: relative;
}

#picture{
  box-shadow: 5px 5px 5px black;
}

#btnScrolltoTop{
  position:fixed;
  right:120px;
  bottom:125px;
  transform: scale(0.5);
  width:0px;
  height:0px;
  border-radius:50%;
  outline:none;
  cursor: pointer;
  border:none;
}

h1, h2, h3{
  text-align: center;
}

hr {
  display: block;
  border-width: 20px;
}

td {
  padding-top: 30px;
  padding-bottom: 30px;
  padding-right: 5px;
  /* Adds spaces between elements of a list*/
  z-index: -1;
}

th {
  padding-top: 30px;
  padding-bottom: 30px;
}

li {
  display: inline;
  padding: 150px;
}

