*{
  margin-top:0;
  margin-left: 0;
  padding:0;
  border-radius: 15px;
  box-sizing: border-box;
}

.screenshot{
  box-shadow: 5px 5px 5px;
  width: 775px;
  height: 275px;
  z-index: 1;
}

.clearContents{
  position: relative;
}

.clearContents:before{ 
  content: ' ';
  position: absolute;
  width: 101%;
  height: 225vh;
  /*vh is a unit of measurement. There are many of these so keep in mind what 
  you can use in different situations. Like px.*/
  background-position: 0px 0px;
  /*the above four lines(plus the before modifier) are used apply opacity.
  If the background image and opacity was on just the body, all child
  elements would have opacity. By using a different element, but still
  using the background image command and size modifiers, only the background
  will be affected by these.*/
  opacity: 0.35;
  background-image: url('sky.jpg');
  z-index: -1; /*This puts all things behind the z axis.*/
}

.contentsPosition{
  position: relative;
}

#btnScrolltoTop{
  position:fixed;
  right:120px;
  bottom:125px;
  transform: scale(0.5);
  width:0px;
  height:0px;
  border-radius:50%;
  outline:none;
  cursor: pointer;
  border:none;
}

td{
  padding-left: 10px;
  padding-bottom: 10px;
  text-align: center;
}

h1, h2, h3 {
  text-align: center;
}

li {
  display: inline;
  padding: 150px;
  /* background-color:goldenrod; this could be useful if the background cool look good with another color or image on top */
}